<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book search</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.eot">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.ttf">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.woff">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/module.css">
</head>

<body>
    <%- include ('./layout/header.ejs') %>
    <main>
        <div class="container">
            <img src="<%= data.image%>">
            <h3 class="title"><%= data.title%></h3>
            <%if(data.authors[0]){%>
            <% data.authors.forEach(value =>{ %>
            <li class="auth"><%= value%></li>
            <% }); %>
            <%}%>
            <% if(data.description){%>
            <li class="desc"><%= data.description%></li>
            <%}%>
            <li>ISBN code:  <%= data.isbn %></li>
            <li>Bookshelf: <%= data.bookshelf %></li>
            <button id="update">Update</button>
            <form action="/delete/<%=data.id%>?_method=delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
        <form action="/update/<%=data.id%>?_method=put" method="POST" id="formDetail">
            <label>image url</label>
            <input type="text" value="<%=data.image%>" name="image">
            <label>title</label>
            <input type="text" value="<%=data.title%>" name="title">
            <label>authors</label>
            <% data.authors.forEach(value =>{ %>
            <input type="text" name="authors" value="<%= value%>">
            <% }); %>
            <label>description</label>
            <textarea type="text" name="description"><%=data.description%></textarea>
            <label>ISBN</label>
            <input type="text" name="isbn" value="<%= data.isbn %>">
            <label>bookshelf</label>
            
            <select name="bookshelf">
                <% bookshelf.forEach(val =>{%>
                    <option selected="<%=val.bookshelf==data.bookshelf%>" value="<%= val.bookshelf%>"><%= val.bookshelf%></option>
              <%  });%>
                
            </select>
            <button type="submit">Save</button>
        </form>


    </main>
    <footer></footer>
</body>

</html>