
<%data.forEach((val,id) =>{%>
<div class="container">

    <% if(val.image){%>
    <img src="<%= val.image%>">
    <%}%>
    <h3 class="title"><%= val.title%></h3>
    <%if(val.authors[0]){%>
    <% val.authors.forEach(value =>{ %>
    <li class="auth"><%= value%></li>
    <% }); %>
    <%}%>
        <% if(val.description){%>
    <li class="desc"><%= val.description%></li>
    <%}%>
    <button id="show">Select this Book</button>
    <form id="formAdd" action="/">
        <label >title</label>
        <input type="text" value="<%=val.title%>" name="title"> 
        <label >image url</label>
        <input type="text" value="<%=val.image%>" name="image"> 
        <label >description</label>
        <textarea type="text" value="<%=val.description%>" name="description"></textarea>
        <button><a href="/<%=id%>">Save</a></button>
    </form>
</div>
<% }); %>
